/* start client */

.clients {
  background: rgba(199, 195, 195, 0.219);
}

.container {
  width: 90%;
}

.testimonials_title {
  text-align: center;
}

.testimonials_title p {
  color: #f53626;
  font-size: 20px;
}

.h1_total {
  font-size: 60px;
}

.testimonials_list {
  background: white;
  padding: 50px 30px;
  border-radius: 12px;
}

.p_total {
  color: gray;
  font-size: 24px;
}

.list_bot {
  display: flex;
}

.list_left {
  display: flex;
  width: 70%;
}

.list_avatar {
  width: 40%;
}

.list_avatar img {
  border-radius: 50%;
  width: 30%;
}

.list_name {
  margin-left: 20px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #189a46;
  width: 30px;
  height: 10px;
}
/* end client */
/* start updated */

.updated {
  padding: 100px 0;
}

.update_title {
  text-align: center;
  width: 80%;
  margin: auto;
}

.update_list {
  display: flex;
  width: 90%;
  margin-left: 10%;
  padding-top: 40px;
}

.form-control {
  font-size: 40px;
  margin: 0 20px;
  width: 60%;
  border-radius: 10px;
}

.update_list button {
  border-radius: 10px;
  width: 20%;
  background: #189a46;
}

/* end updated */

/* start footer */
.footer {
  padding: 80px 0;
  background: black;
}

.footer_top {
  display: flex;
  padding: 0 40px;
}

.footer_left {
  width: 50%;
  /* margin: auto; */
}

.footer_right {
  display: flex;
  width: 50%;
}

.footer_list {
  width: 30%;
}

.footer li {
  list-style: none;
  line-height: 3;
  font-size: 20px;
}

.footer li p {
  color: gray;
}

.footer li strong {
  color: gray;
}

.h6_total {
  padding-left: 40px;
  font-size: 30px;
  line-height: 2;
  color: white;
}

.footer a {
  color: gray;
}

.link-icons {
  display: flex;
}

.link-icons i {
  margin-left: 40px;
}

.footer_bot {
  border-top: 1px solid gray;
  text-align: center;
}

#highlight {
  color: red;
}

/* end footer */
